# API Configuration
VITE_API_URL=http://localhost:3000/api/v1

# Supabase Configuration
VITE_SUPABASE_URL=https://kzfvbiupyhgkertbqxyg.supabase.co
VITE_SUPABASE_STORAGE_URL=https://kzfvbiupyhgkertbqxyg.supabase.co/storage/v1/object/public/vehicle-media
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt6ZnZiaXVweWhna2VydGJxeXlnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0NzY1MjQsImV4cCI6MjA5MjA1MjUyNH0.wmsoWOzsscSjucTfUgqI9qCeTz8rBPwI1x3Gz3fa9wc
